<h1>User edit</h1>
<% if flash[:error].present? %>
  <ul>
    <% flash[:error].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
 <label>名前</label><br>
 <%= f.text_field :name %><br>
 <label>自己紹介</label><br>
 <%= f.text_area :introduction,rows: 5 %><br>
 <label>画像</label><br>
 <%= f.file_field :profile_image,accept:"image/jpg" %><br>
 <%= f.submit"送信" %><br>
<% end %>